body {
  margin: 0;
  background-color: aqua;
}

.layout {
  display: flex;
  flex-direction: column;
  margin: 15% 35%;  
}

.print {
  background-color: black;
  color: white;
  padding: 5% 3%;
}

button {
  background: white;
  padding: 15% 1%;
  border: solid 0.001mm rgb(94, 93, 93);
  font-weight: bold;
  cursor: pointer;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}