body {
  margin: 0;
  background-image: url("./images/mathpic.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  color: white;
  border: none;
  /* overflow: auto; */
}

.layout {
  display: flex;
  flex-direction: column;
  margin: 15% 35%;
}

.container2 {
      left: 1%;
      top: 20%;
      color: crimson;
      position: fixed;
}

.print {
  background-color: black;
  color: white;
  padding: 1% 1%;
}

.printout {
  display: flex;
  justify-content: flex-end;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

button {
  background: white;
  padding: 15% 1%;
  border: solid 0.001mm rgb(94, 93, 93);
  font-weight: bold;
  cursor: pointer;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.designcolor2 {
  background-color: hsla(240, 100%, 50%, 0.322);
}
